<a href="https://colab.research.google.com/github/kevinokelly23-collab/Data-Acquisition-Project/blob/main/notebooks/Netflix_Data_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Acquisition Project
# Kevin O'Kelly - Netflix Movies and Box office analysis

Project overview


This project follows the Data Acquisition coursework brief, which requires:
1. Importing and exploring a Kaggle dataset.  
2. Web scraping a complementary dataset.  
3. Merging the datasets.  
4. Visualising insights with Seaborn.  
5. Documenting and reflecting on AI use.

Datasets

Primary - Kaggle: Netflix Movies and TV Shows  https://www.kaggle.com/datasets/shivamb/netflix-shows

Complimentary - Scraped: Box Office Mojo All Time Worldwide Box Office  
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2001

In [ ]:
#Step 1: Import Libraries and Load netflix dataset
import pandas as pd

df = pd.read_csv("/content/Netflix_datset.csv")

In [ ]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
df['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [ ]:
df['release_year'].describe()

count    8807.000000
mean     2014.180198
std         8.819312
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: release_year, dtype: float64

Okay so now that I have gotten my kaggle dataset imported and I can see that eveyrthing is as should be I want to filter to movies only as I will not be using the TV shows

In [ ]:
movies_df = df[df['type'].str.strip().str.lower() == 'movie'].copy()

In [ ]:
movies_df['type'].value_counts()

type
Movie    6131
Name: count, dtype: int64