<a href="https://colab.research.google.com/github/kevinokelly23-collab/Data-Acquisition-Project/blob/main/%20notebooks/Netflix_Data_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Acquisition Project
# Kevin O'Kelly - Netflix Movies and Box office analysis

Project overview


This project follows the Data Acquisition coursework brief, which requires:
1. Importing and exploring a Kaggle dataset.  
2. Web scraping a complementary dataset.  
3. Merging the datasets.  
4. Visualising insights with Seaborn.  
5. Documenting and reflecting on AI use.

Datasets

file path: notebooks/Netflix_Data_Project.ipynb

Primary - Kaggle: Netflix Movies and TV Shows  https://www.kaggle.com/datasets/shivamb/netflix-shows

Complimentary - Scraped: Box Office Mojo All Time Worldwide Box Office  
https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2001

# Step 1 Importing, exploring and cleaning my Kaggle Dataset

In [ ]:
#Step 1: Import Libraries and Load netflix dataset
import pandas as pd
# Load the dataset
df = pd.read_csv("/content/netflix_titles.csv")

In [ ]:
#Step 1.1: Exploring the dataset
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s8807,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [ ]:
df['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [ ]:
df['release_year'].describe()

count    8807.000000
mean     2014.180198
std         8.819312
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: release_year, dtype: float64

Okay so now that I have gotten my kaggle dataset imported and I can see that eveyrthing is as should be I want to filter to movies only as I will not be using the TV shows.

In [ ]:
# Step 1.3: Filtering to movies only as I will not be using the TV shows

movies_df = df[df['type'].str.strip().str.lower() == 'movie'].copy()

In [ ]:
movies_df['type'].value_counts()

type
Movie    6131
Name: count, dtype: int64

The Kaggle dataset 'Netflix Movies and TV shows' contains 8807 titles available.

After filtering to "movie" the datset contains 6131 movies.

Most movies were released between 2013-2021.

In [ ]:
#Step 1.4: Checking for missing values

movies_df.isna().sum().sort_values(ascending=False)

cast            475
country         440
director        188
duration          3
rating            2
title             0
show_id           0
type              0
release_year      0
date_added        0
listed_in         0
description       0
dtype: int64

# Step 1.41 Observations
**Data quality and Missing Values**

The dataset is generally clean, while only minor missing values:

Director : 188 missing

cast : 475 missing

country : 440 missing

duration : 3 missing

rating : 2 missing

**High missing Columns**

Director : 188 missing

cast : 475 missing

country : 440 missing



*   These three fields do not determine merges, do not affect numerical analysis and are not used for modelling



*   Fill with unknown

**Low missing columns**

Duration : 3 missing

Rating : 2 missing


Duration is important because its a clear movie attribute however only 3 rows are missing and same with rating


*   drop the rows

In [ ]:
# Step 1.5: Handling Missing Values

# Fill high-missing categorical metadata
movies_df['cast'] = movies_df['cast'].fillna('Unknown')
movies_df['country'] = movies_df['country'].fillna('Unknown')
movies_df['director'] = movies_df['director'].fillna('Unknown')

# Drop rare missing numerical/categorical rows
movies_df = movies_df.dropna(subset=['duration'])
movies_df = movies_df.dropna(subset=['rating'])

In [ ]:
movies_df.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [ ]:
movies_df['rating'].isna().sum()
movies_df['duration'].isna().sum()

np.int64(0)




*   As we can see here we have successfully removed all missing values. 0 in each column.

In [ ]:
movies_df.shape

(6126, 12)



*   I am going to convert the duration column to an integer so it can be used for numerical analysis, as the original 90 min text format cannot be processed in calculations.

In [ ]:
# Changing to integer

movies_df['duration'] = (
    movies_df['duration']
        .str.replace(' min', '', regex=False)
        .astype(int)
)

AttributeError: Can only use .str accessor with string values!

In [ ]:
# Validation
movies_df['duration'].head()
movies_df['duration'].dtype

dtype('int64')

In [ ]:
movies_df['duration'].mean()

np.float64(99.58488410055502)



*   I am going to convert date_added into a proper datetime format so that the column can be sorted, filtered by time, and used for any time-based analysis, since the original text format cannot be processed reliably.

In [ ]:
movies_df['date_added'] = pd.to_datetime(movies_df['date_added'])

In [ ]:
movies_df['date_added'].dtype

dtype('<M8[ns]')

In [ ]:
movies_df.to_csv("cleaned_netflix_movies.csv", index=False)

In [41]:
from google.colab import files
files.download("cleaned_netflix_movies.csv")

# Step 1 Synopsis

*   As we can see there is no longer any missing values and the 5 rows have been removed.

*   The original shape was 6131 and its down to 6126.



*   Duration has been changed to an integer.
*   date_ added has been changed to a proper datetime format.



*   The dataset is now cleaned and we can save it and begin on our web scraping.

# Step 2 Web Scraping a Complementary Dataset

The goal of this step is to obtain **box-office performance data** for movies, which is not included in the Kaggle Netflix dataset.  
This information will later be merged using the movie **Title** column to explore relationships between Netflix availability and box-office success.

I will scrape data from *The Numbers* website, which lists the all-time worldwide box-office rankings for movies.

#### Inspecting the Website HTML Structure

Before starting to scrape, I inspected the HTML structure of *The Numbers*
box-office pages.

Each page has a clear and consistent layout:
- The main data is inside a `<center>` tag.
- Within it, there is a `<table>` containing the movie data.
- The `<thead>` section holds the column headers (e.g. *Rank, Movie, Worldwide, Domestic, International, Year*).
- The `<tbody>` contains multiple `<tr>` rows, each representing one movie.
- Each `<td>` cell within a row stores the actual values.

I'm hoping the structure makes it straightforward to scrape the data using BeautifulSoup, as the movie table can be selected directly using:
```python
soup.find("center").find("table")

In [46]:
# Step 2.1: test one page


import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

url = "https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1"

headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/123.0.0.0 Safari/537.36"
    )
}

response = requests.get(url, headers=headers)
print("Status code:", response.status_code)

soup = BeautifulSoup(response.text, "html.parser")
center_tag = soup.find("center")
print("Center tag found:", bool(center_tag))

if center_tag:
    table = center_tag.find("table")
    print("Table found:", bool(table))
else:
    print("No <center> tag found.")

Status code: 200
Center tag found: True
Table found: False

The status code 200 confirmed the request was successful and the site allowed access.

The center tag existed and showing that part of the page structure was correct, but no table element was detected inside

I asked ChatGPT what I should try next. It suggested broadening the search to look for a table both inside the center tag and anywhere else on the page as a fallback leading to the next step.

In [51]:
# Step 2.11: Locating the Table Correctly

soup = BeautifulSoup(response.text, "html.parser")

# Try multiple methods to locate the table
table = None

# Option 1: look for <center> first, then any table within
center_tag = soup.find("center")
if center_tag:
    table = center_tag.find("table")

# Option 2: fallback  look for any table on the page
if not table:
    table = soup.find("table")

print("Center tag found:", bool(center_tag))
print("Table found:", bool(table))

if table:
    print("Table located successfully.")
else:
    print("Still no table  may need to inspect HTML structure again.")

Center tag found: True
Table found: True
Table located successfully.

By inspecting the websites structure, I found that the movie table is nested inside a section called page_filling_chart, which explained why it wasnt detected at first. I updated the scraping logic to locate the table more flexibly within the page.

I learned how conditional searching improves resilience when scraping sites with inconsistent layouts.

In [52]:
# Step 2.2: Extract Headers and Sample Rows

rows = table.find_all("tr")
headers = [th.text.strip() for th in rows[0].find_all("th")]
print("Headers found:", headers)

sample_data = []
for row in rows[1:6]:
    cols = [td.text.strip() for td in row.find_all("td")]
    sample_data.append(cols)

pd.DataFrame(sample_data, columns=headers)

Headers found: ['Rank', 'Year', 'Movie', 'WorldwideBox Office', 'DomesticBox Office', 'InternationalBox Office']

,Rank,Year,Movie,WorldwideBox Office,DomesticBox Office,InternationalBox Office
0,1,2009,Avatar,"$2,923,706,026","$785,221,649","$2,138,484,377"
1,2,2019,Avengers: Endgame,"$2,717,503,922","$858,373,000","$1,859,130,922"
2,3,2022,Avatar: The Way of Water,"$2,322,902,023","$688,809,501","$1,634,092,522"
3,4,1997,Titanic,"$2,223,048,786","$674,460,013","$1,548,588,773"
4,5,2015,Star Wars Ep. VII: The Force Awakens,"$2,056,046,835","$936,662,225","$1,119,384,610"

# Step 2.2: Observation

The headers and rows were successfully extracted, confirming that the table structure contains the expected columns such as Rank, Year, Movie, WorldwideBox Office, DomesticBox Office, InternationalBox Office

That verfifies that the dat is ready to be scraped.

In [97]:
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import pandas as pd
import time

records = []

for start in range(1, 10001, 100):  # 1, 101, 201, ..., 9901
    if start == 1:
        url = "https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time"
    else:
        url = f"https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/{start}"

    print("Scraping:", url)

    req = Request(url, headers={"User-Agent": "Mozilla/5.0"})
    html = urlopen(req)
    soup = BeautifulSoup(html, "html.parser")

    table = soup.find("table")
    if table is None:
        print(" No table found on this page  stopping.")
        break

    rows = table.find_all("tr")[1:]
    for row in rows:
        cols = [c.get_text(strip=True) for c in row.find_all("td")]
        if len(cols) == 6:
            records.append(cols)

    time.sleep(1.5)

df = pd.DataFrame(records, columns=["Rank", "Year", "Title", "Worldwide", "Domestic", "International"])
print("Total rows scraped:", len(df))
print("Unique movies:", df["Title"].nunique())

Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/2901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/3901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/4901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/5901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/6901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/7901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/8901
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9001
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9101
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9201
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9301
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9401
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9501
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9601
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9701
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9801
Scraping: https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/9901
Total rows scraped: 10000
Unique movies: 9798

In [54]:
df.head()

,Rank,Year,Title,Worldwide,Domestic,International
0,1,2009,Avatar,"$2,923,706,026","$785,221,649","$2,138,484,377"
1,2,2019,Avengers: Endgame,"$2,717,503,922","$858,373,000","$1,859,130,922"
2,3,2022,Avatar: The Way of Water,"$2,322,902,023","$688,809,501","$1,634,092,522"
3,4,1997,Titanic,"$2,223,048,786","$674,460,013","$1,548,588,773"
4,5,2015,Star Wars Ep. VII: The Force Awakens,"$2,056,046,835","$936,662,225","$1,119,384,610"

In [96]:
print("Total rows:", len(numbers_df))
print("Unique movies:", numbers_df["Title"].nunique())
print("Duplicate rows:", len(numbers_df) - numbers_df["Title"].nunique())

Total rows: 9900
Unique movies: 97
Duplicate rows: 9803

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           10000 non-null  object
 1   Year           10000 non-null  object
 2   Title          10000 non-null  object
 3   Worldwide      10000 non-null  object
 4   Domestic       10000 non-null  object
 5   International  10000 non-null  object
dtypes: object(6)
memory usage: 468.9+ KB

In [56]:
df.describe(include='all')

,Rank,Year,Title,Worldwide,Domestic,International
count,10000,10000,10000,10000,10000,10000
unique,100,28,98,100,100,100
top,1,2019,Harry Potter and the Deathly Hallows:,"$2,923,706,026","$785,221,649","$2,138,484,377"
freq,100,900,200,100,100,100

# 2.3 Observation and Findings

The final version loops through 100 pages, successfully scraping 10,000 movies in total.

The urllib.request.Request method with a User-Agent header prevented 403 errors by imitating a real browser.

The scraper correctly located the table on each page, filtered only valid rows (len(cols)==6)), and stored them in a list.

The addition of time.sleep(1.5) ensured polite scraping and reduced the risk of being blocked.

The resulting DataFrame contained six clean columns: Rank, Year, Title, Worldwide, Domestic, and International.

In [57]:
# Step 2.4: Run and Review

df.shape

(10000, 6)

In [58]:
df.isna().sum()

Rank             0
Year             0
Title            0
Worldwide        0
Domestic         0
International    0
dtype: int64

# Step 2.4: Cleaning the Dataset

In [60]:
import numpy as np
numbers_df = df.copy()

# Step 2.41 Check structure of the dataset
print("Initial shape:", numbers_df.shape)
print(numbers_df.head())

Initial shape: (10000, 6)
  Rank  Year                                 Title       Worldwide  \
0    1  2009                                Avatar  $2,923,706,026
1    2  2019                     Avengers: Endgame  $2,717,503,922
2    3  2022              Avatar: The Way of Water  $2,322,902,023
3    4  1997                               Titanic  $2,223,048,786
4    5  2015  Star Wars Ep. VII: The Force Awakens  $2,056,046,835

       Domestic   International
0  $785,221,649  $2,138,484,377
1  $858,373,000  $1,859,130,922
2  $688,809,501  $1,634,092,522
3  $674,460,013  $1,548,588,773
4  $936,662,225  $1,119,384,610



--- I can see here that we have commas and dollar signs which need to be removed

In [61]:
# Step 2.42: Standarise column names
numbers_df.columns = numbers_df.columns.str.strip().str.title()
print("\nColumn names:", numbers_df.columns)

Column names: Index(['Rank', 'Year', 'Title', 'Worldwide', 'Domestic', 'International'], dtype='object')

In [62]:
# Step 2.43: Cleaning Financial Columns
money_columns = ["Worldwide", "Domestic", "International"]

for col in money_columns:
    # Convert values to string first (avoids .str error)
    numbers_df[col] = numbers_df[col].astype(str)

    # Remove "$" and "," characters
    numbers_df[col] = numbers_df[col].str.replace("$", "", regex=False)
    numbers_df[col] = numbers_df[col].str.replace(",", "", regex=False)

    # Replace any empty strings or "nan" text with proper NaN values
    numbers_df[col] = numbers_df[col].replace(["", "nan"], np.nan)

    # Convert the column to numeric (float)
    numbers_df[col] = pd.to_numeric(numbers_df[col], errors="coerce")
print("\n After cleaning:")
print(numbers_df.head())

 After cleaning:
  Rank  Year                                 Title   Worldwide     Domestic  \
0    1  2009                                Avatar  2923706026  785221649.0
1    2  2019                     Avengers: Endgame  2717503922  858373000.0
2    3  2022              Avatar: The Way of Water  2322902023  688809501.0
3    4  1997                               Titanic  2223048786  674460013.0
4    5  2015  Star Wars Ep. VII: The Force Awakens  2056046835  936662225.0

   International
0     2138484377
1     1859130922
2     1634092522
3     1548588773
4     1119384610

This shows that I have successfully  

*   Removed Currency symbols
*   Removed Comas


*   Replaced empty strings with NAN
*   Numeric Type

In [63]:
# Step 2.44: Handling Missing Values
print("\nMissing values per column:")
print(numbers_df.isnull().sum())

Missing values per column:
Rank               0
Year               0
Title              0
Worldwide          0
Domestic         100
International      0
dtype: int64

In [64]:
# 2.51: Check how many rows contain missing values
print("Missing values per column before drop:")
print(numbers_df.isnull().sum())

# 2.52: Remove rows with any missing values
numbers_df = numbers_df.dropna()

# 2.53: Confirm the new dataset shape
print("\n After dropping missing values:")
print("New shape:", numbers_df.shape)

# 2.54: Verify that there are no remaining missing values
print("\nMissing values per column after drop:")
print(numbers_df.isnull().sum())

Missing values per column before drop:
Rank               0
Year               0
Title              0
Worldwide          0
Domestic         100
International      0
dtype: int64

 After dropping missing values:
New shape: (9900, 6)

Missing values per column after drop:
Rank             0
Year             0
Title            0
Worldwide        0
Domestic         0
International    0
dtype: int64

In [92]:
numbers_df["Title"].nunique()

97

In [93]:
box_df["clean_title"].value_counts().sort_values(ascending=False).head(100)

clean_title
avatar                                      1
avengers: endgame                           1
avatar: the way of water                    1
titanic                                     1
star wars ep. vii: the force awakens        1
                                           ..
inside out                                  1
guardians of the galaxy vol 3               1
transformers: revenge of the fallen         1
the twilight saga: breaking dawn, part 2    1
inception                                   1
Name: count, Length: 97, dtype: int64

In [89]:
# Remove duplicates by clean_title
box_df = box_df.drop_duplicates(subset="clean_title", keep="first").reset_index(drop=True)

box_df.shape

(97, 7)

(6819, 16)

In [86]:
box_df[box_df["Title"].str.lower() == "inception".lower()]

      Rank  Year      Title  Worldwide     Domestic  International clean_title
98     100  2010  Inception  826873382  293662683.0      533210699   inception
197    100  2010  Inception  826873382  293662683.0      533210699   inception
296    100  2010  Inception  826873382  293662683.0      533210699   inception
395    100  2010  Inception  826873382  293662683.0      533210699   inception
494    100  2010  Inception  826873382  293662683.0      533210699   inception
...    ...   ...        ...        ...          ...            ...         ...
9503   100  2010  Inception  826873382  293662683.0      533210699   inception
9602   100  2010  Inception  826873382  293662683.0      533210699   inception
9701   100  2010  Inception  826873382  293662683.0      533210699   inception
9800   100  2010  Inception  826873382  293662683.0      533210699   inception
9899   100  2010  Inception  826873382  293662683.0      533210699   inception

[100 rows x 7 columns]

In [87]:
box_df[box_df["Title"].str.lower() == "inception".lower()].shape[0]

100

In [65]:
numbers_df.to_csv("clean_boxoffice_numbers.csv")

In [66]:
# 2.63: Quick verification  reload and preview
check_df = pd.read_csv("clean_boxoffice_numbers.csv")
print("\nPreview of saved file:")
print(check_df.head())

print("\nFile shape:", check_df.shape)

Preview of saved file:
   Unnamed: 0  Rank  Year                                 Title   Worldwide  \
0           0     1  2009                                Avatar  2923706026
1           1     2  2019                     Avengers: Endgame  2717503922
2           2     3  2022              Avatar: The Way of Water  2322902023
3           3     4  1997                               Titanic  2223048786
4           4     5  2015  Star Wars Ep. VII: The Force Awakens  2056046835

      Domestic  International
0  785221649.0     2138484377
1  858373000.0     1859130922
2  688809501.0     1634092522
3  674460013.0     1548588773
4  936662225.0     1119384610

File shape: (9900, 7)

In [68]:
from google.colab import files
files.download("clean_boxoffice_numbers.csv")

# Step 3: Merging the Cleaned Datasets



*  The aim of this step is to merge the newly cleaned box-office dataset with the original Kaggle Netflix Movies dataset.
*  This allows me to analyse how Netflix's movie catalogue aligns with theatrical box-office performance, something that is not possible using the Netflix dataset alone.

In [76]:
import pandas as pd

netflix_df = pd.read_csv("cleaned_netflix_movies.csv")
box_df = pd.read_csv("clean_boxoffice_numbers.csv")

# remove index column if it exists
box_df = box_df.drop(columns=["Unnamed: 0"], errors="ignore")

In [79]:
netflix_df["clean_title"] = netflix_df["title"].str.lower().str.strip()
box_df["clean_title"] = box_df["Title"].str.lower().str.strip()

In [80]:
merged_df = netflix_df.merge(
    box_df[["clean_title", "Worldwide", "Domestic", "International"]],
    on="clean_title",
    how="left"
)

In [81]:
merged_df.to_csv("merged_netflix_boxoffice.csv", index=False)

In [82]:
matched_count = merged_df["Worldwide"].notna().sum()
matched_count

np.int64(700)

In [83]:
total_movies = len(merged_df)
total_movies

6819

In [84]:
match_percentage = (matched_count / total_movies) * 100
match_percentage

np.float64(10.265434814488927)

In [85]:
from google.colab import files
files.download("merged_netflix_boxoffice.csv")